@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes blobAnimation {
  0% {
    transform: scale(1) rotate(0deg);
  }

                50% {
                  transform: scale(1.4) rotate(150deg);
                }
        
                100% {
                  transform: scale(1) rotate(360deg);
  }
}

.animate-blob {
  animation: blobAnimation 5s infinite;
}
